.App {
    font-family: sans-serif;
    text-align: center;
    height: 50vh;
  }
  .note-wrapper {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .note {
    height: 40px;
    width: 40px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(213, 14, 14);
    border-radius: 2px;
    margin: 2px;
  }
  .note-active {
    background: grey;
  }